body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #191919 !important;
}

body::after{
    background-image: url(https://img.rawpixel.com/s3fs-private/rawpixel_images/website_content/rm218batch7-katie-36.jpg?w=800&dpr=1&fit=default&crop=default&q=65&vib=3&con=3&usm=15&bg=F4F4F3&ixlib=js-2.2.1&s=13fbff80ecafe605b47ae2570e2b36ab);
    opacity: 0.1;
    background-size: cover;
    background-repeat: no-repeat;
    position: fixed;
    background-attachment: scroll;
    background-position: 50% 50%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    content: "";
    z-index: -1;
}

.trailer{
    margin: 0 20%;
}

.description{
    margin: 0 20%;
    word-wrap: break-word;
}

.description p {
    color:white;
}


ul{
    list-style-type: none;
}

.genres{
    margin: 0 20%;
    text-align: end;
}


.genres p{
    color:white;
    display: inline-block;
    padding: 0 20px;
}


.other_info{
    margin: 0 20%;
    display: flex;
}

.content_image{
    width: 20%;
}

.content_buttons{
    margin-left: auto;
    width: 100%;
    display: grid;
    place-items: center;
}

.content_buttons button{
    width: 100px;
    height: 50px;
    margin: 0 20px;
    border-radius: 20px;
    border: none;
    background-color: antiquewhite;
}

.info{
    margin: 0 20px;
    padding: 0 20px;
    display: flex;
}

.user_buttons{
    margin-bottom: 60px;
}

.info th{
    text-align: left;
    color: whitesmoke;
}
.info td{
    text-align: right;
    color: whitesmoke;
    padding-left: 50px;
}

.vertical_line{
    border-left: 2px solid whitesmoke;
    display: inline;
    margin-left: 10px;
}

.title{
    text-align: center;
    color: whitesmoke;
}
