body{
    background-color: whitesmoke;
}

.wrapper{
    width: 50%;
    margin: 0 25% 10px;
    height: 60vh;
    background-color: rgb(205, 243, 205);
    border-radius: 20px;
}

.left_side{
    float: left;
    width: 50%;
    height: 100%;
    display: grid;
    place-items: center;

}


.right_side{
    height: 100%;
    width: 50%;
    display: grid;
    place-items: center;
}

.login_form{
    display: inline-block;
    text-align: center;
    margin: 25px 0;
}

.avatar_icon{
    text-align: center;
}

button{
    padding: 10px;
    width: 100px;
    border-radius: 40px;
    background-color: transparent;
    outline: none;
    border-color: rgb(60, 58, 58);
    border-style: solid;
}

.login_button{
    margin: 0 26%;
    display: flex;
    justify-content: space-around;
}

input{
    padding: 8px;
    margin: 12px;
    width: 200px;
    border-radius: 40px;
    outline: none;
    border-style: solid;
}

.signup{
    display: grid;
    place-items: center;
    width: 50%;
    margin: 0 25%;
}

.title{
    margin-top: 5%;
    text-align: center;
}
