body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #191919 !important;
}
body::after{
    background-image: url(https://img.rawpixel.com/s3fs-private/rawpixel_images/website_content/rm218batch7-katie-36.jpg?w=800&dpr=1&fit=default&crop=default&q=65&vib=3&con=3&usm=15&bg=F4F4F3&ixlib=js-2.2.1&s=13fbff80ecafe605b47ae2570e2b36ab);
    opacity: 0.1;
    background-size: cover;
    background-repeat: no-repeat;
    position: fixed;
    background-attachment: scroll;
    background-position: 50% 50%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    content: "";
    z-index: -1;
}

.main_body{
    margin: 10px 25%;
    display: grid;

}

.avatar img {
    width: 200px;
    height: 200px;
}

.avatar{
    display: grid;
    place-items: center;
    margin: 10px 0;
}

.user_info{
    display: flex;
    margin: 15px 20%;
}

.basic_info {
    width: 100%;
}

.basic_info th, td {
    padding: 10px;
    color:wheat;
}

.price{
    display: grid;
    width: 100%;
    place-items: center;
}

.h_line{
    border: 1px solid black;
    width: 100%;
}

.content_buttons{
    display: flex;
    justify-content: space-around;
}

.content_buttons button{
    border: none;
    background-color: burlywood;
    border-radius: 10px;
    width: 100px;
    height: 35px;
}


.slideshow{
    overflow: auto;
    white-space: nowrap;
    margin: 10px 0;
}

.slideshow img{
    width: 250px;
    height: 250px;
    margin: 0 25px;
}