<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<html>
<head>
    <title>Admin</title>
    <link href="/css/navigationbar/navigation_bar.css" rel="stylesheet" type="text/css" th:href="@{/css/navigationbar/navigation_bar.css}" />
    <link href="/css/admin/admin.css" rel="stylesheet" type="text/css" th:href="@{/css/admin/admin.css}" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <style>
        .error{
            font-size:17px;
            color:red;
            font-weight:bold;
            text-align:center;
        }
    </style>
</head>

<body>

<!-- Navigation bar -->

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div style="max-width:240px;">
        <div th:if="${username != null && username != 'anonymousUser' && username != 'Admin'}"  class="user_avatar_balance">
            <a class="navbar-brand" th:href="@{/api/v1/videoteka/user/profile}" th:text="${username}"></a>
            <img th:src="${avatar}" width="45px" height="45px" style="margin:0 5px;">
            <div class="navbar-brand">
                <div class="user-balance-info">
                    <p>Balance:</p>
                    <p th:text="${money}"></p>
                    <p>$</p>
                </div>
            </div>
        </div>
        <div th:if="${username == null || (username == 'anonymousUser' || username == 'Admin')}">
            <a class="navbar-brand" th:text="${username}" style="color:white;"></a>
        </div>
    </div>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto center-items-ul">
            <li class="nav-item active">
                <a class="nav-link" th:href="@{/api/v1/videoteka/movies}">Movies <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" th:href="@{/api/v1/videoteka/series}">Series</a>
            </li>
        </ul>
    </div>
    <form class="form-inline my-2 my-lg-0" action="#" th:action="@{/api/v1/videoteka/{type}/search/(type=${#strings.toLowerCase(title)})}">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" name="keyword">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>



    <div class="dropdown dropdown-custom-class">

        <div class="btn-group dropleft">

            <button class="btn btn-secondary dropdown" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <img th:src="@{/css/images/drop.png}" width="25px" height="25px" />
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" th:if="${username != 'anonymousUser'}" th:href="@{/api/v1/videoteka/logout}">Logout</a>
                <a class="dropdown-item" th:if="${username == 'Admin'}" th:href="@{/api/v1/videoteka/admin/movies}">Admin page</a>
                <a class="dropdown-item" th:if="${title} == 'Movies'" th:href="@{/api/v1/videoteka/admin/movies}">Movies</a>
                <a class="dropdown-item" th:else th:href="@{/api/v1/videoteka/admin/series}">Series</a>
            </div>
        </div>

    </div>

</nav>


<!-- end of Navigation bar -->

<h1 style="text-align:center; margin-bottom:10px; color:white !important;" th:text="${title}"></h1>

<div class="maindiv">
    <div class="inputs">
        <form action="#"
              th:action="@{/api/v1/videoteka/admin/{title}(title=${#strings.toLowerCase(title)})}"
              method="post"
              th:object="${content}">
            <input readonly th:if="${id != null}" type="text" placeholder="Id" th:field="*{id}">
            <input type="text" placeholder="Title" th:field="*{name}">
            <div th:if="${#fields.hasErrors('name')}" th:errors="*{name}" class="error"></div>
            <input type="text" placeholder="Release" th:field="*{release}">
            <div th:if="${#fields.hasErrors('release')}" th:errors="*{release}" class="error"></div>
            <input type="text" placeholder="Image" th:field="*{image_url}">
            <div th:if="${#fields.hasErrors('image_url')}" th:errors="*{image_url}" class="error"></div>
            <input type="text" placeholder="Trailer" th:field="*{trailer}">
            <div th:if="${#fields.hasErrors('trailer')}" th:errors="*{trailer}" class="error"></div>
            <input type="text" placeholder="Rating" th:field="*{rating}">
            <div th:if="${#fields.hasErrors('rating')}" th:errors="*{rating}" class="error"></div>
            <input type="text" placeholder="Runtime" th:field="*{runtime}">
            <div th:if="${#fields.hasErrors('runtime')}" th:errors="*{runtime}" class="error"></div>
            <input type="text" placeholder="Price" th:field="*{price}">
            <div th:if="${#fields.hasErrors('price')}" th:errors="*{price}" class="error"></div>
            <div class="genres">
                <select multiple="multiple" th:name="ids">
                    <option th:each="genre : ${genres}" th:value="${genre.id}" th:text="${genre.name}"
                            th:selected="${#lists.contains(content.genres, genre)}">
                    </option>
                </select>
            </div>

            <p th:if="${#lists.contains(content.genres, genres)}" th:text="${content.genres}"></p>

            <div>
                <label style="color:white">Description</label><br>
                <textarea rows="4" cols="50" th:field="*{description}"></textarea>
                <div th:if="${#fields.hasErrors('description')}" th:errors="*{description}" class="error"></div>
            </div>

            <div class="submit" >
                <button type="submit">Submit</button>
            </div>

    </form>

</div>

</div>


<!-- script for bootstrap -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
<!-- end of script -->

</body>


</html>