<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<html>
<head>
    <title>Admin</title>
    <link href="/css/navigationbar/navigation_bar.css" rel="stylesheet" type="text/css" th:href="@{/css/navigationbar/navigation_bar.css}" />
    <link href="/css/admin/admin.css" rel="stylesheet" type="text/css" th:href="@{/css/admin/admin.css}" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
        .error{
            font-size:17px;
            color:red;
            font-weight:bold;
            text-align:center;
        }
    </style>
</head>

<body>

<div class="navigation">

    <div class="username">
        <h2 th:text="${username}">
        </h2>
        <div th:if="${username != 'anonymousUser' && username != null}" class="user_avatar_balance">
            <img th:src="${avatar}" width="50px" height="50px">
            <div class="txt">
                <p>Balance:</p>
                <p th:text="${money}"></p>
                <p>$</p>
            </div>
        </div>
    </div>
    <div class="links">
        <ul>
            <li><a th:href="@{/api/v1/videoteka/movies}">Movies</a></li>
            <li><a th:href="@{/api/v1/videoteka/series}">Series</a></li>
        </ul>
    </div>

    <div class="drop_down_button">
        <button class="drop_button"></button>
        <div class="dropdown-content">
            <a th:if="${#strings.isEmpty(username) || username == 'anonymousUser'}" th:href="@{/api/v1/videoteka/login}">Login</a>
            <a th:if="${username != 'anonymousUser' && username != null}" th:href="@{/api/v1/videoteka/user/profile}">Profile</a>
            <a th:unless="${username != 'anonymousUser' || username != null}" th:href="@{/api/v1/videoteka/logout}">Logout</a>
        </div>
    </div>
</div>


<h1 style="text-align:center" th:text="${title}"></h1>

<div class="maindiv">
    <div class="inputs">
        <form action="#"
              th:action="@{/api/v1/videoteka/admin/{title}(title=${#strings.toLowerCase(title)})}"
              method="post"
              th:object="${content}">
            <input readonly th:if="${id != null}" type="text" placeholder="Id" th:field="*{id}">
            <input type="text" placeholder="Title" th:field="*{name}">
            <div th:if="${#fields.hasErrors('name')}" th:errors="*{name}" class="error"></div>
            <input type="text" placeholder="Release" th:field="*{release}">
            <div th:if="${#fields.hasErrors('release')}" th:errors="*{release}" class="error"></div>
            <input type="text" placeholder="Image" th:field="*{image_url}">
            <div th:if="${#fields.hasErrors('image_url')}" th:errors="*{image_url}" class="error"></div>
            <input type="text" placeholder="Trailer" th:field="*{trailer}">
            <div th:if="${#fields.hasErrors('trailer')}" th:errors="*{trailer}" class="error"></div>
            <input type="text" placeholder="Rating" th:field="*{rating}">
            <div th:if="${#fields.hasErrors('rating')}" th:errors="*{rating}" class="error"></div>
            <input type="text" placeholder="Runtime" th:field="*{runtime}">
            <div th:if="${#fields.hasErrors('runtime')}" th:errors="*{runtime}" class="error"></div>
            <input type="text" placeholder="Price" th:field="*{price}">
            <div th:if="${#fields.hasErrors('price')}" th:errors="*{price}" class="error"></div>
            <div style="padding:0 20px; display:flex; justify-content:center; padding:0px 20px;">
                <select multiple="multiple" th:name="ids">
                    <option th:each="genre : ${genres}" th:value="${genre.id}" th:text="${genre.name}">

                    </option>
                </select>
            </div>
            <div>
                <label>Description</label><br>
                <textarea rows="4" cols="50" th:field="*{description}"></textarea>
            </div>

            <div class="submit" >
                <button type="submit">Submit</button>
            </div>

    </form>

</div>

</div>

</body>


</html>