<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link href="/css/account/profile.css" rel="stylesheet" type="text/css" th:href="@{/css/account/profile.css}" />

</head>
<body>
<form action="#" method="get" th:object="${user}"  th:action="@{/api/v1/videoteka/user/profile}" >

    <div class="main_body">
        <div class="avatar">
            <img th:src="${user.avatar}">
        </div>
        <div class="user_info">
            <div class="basic_info">
                <table>
                    <tr>
                        <th>First name:</th>
                        <td th:text="${user.firstName}"></td>
                    </tr>
                    <tr>
                        <th>Last name:</th>
                        <td th:text="${user.lastName}"></td>
                    </tr>
                    <tr>
                        <th>Username:</th>
                        <td th:text="${user.username}"></td>
                    </tr>
                    <tr>
                        <th>Country:</th>
                        <td th:text="${user.country}"></td>
                    </tr>
                    <tr>
                        <th>Email:</th>
                        <td th:text="${user.eMail}"></td>
                    </tr>
                </table>
            </div>
            <div class="price">
                <table>
                    <tr>
                        <th style="color:white;">Balance</th>
                        <td th:text="${user.money}"></td>
                    </tr>
                </table>
            </div>
        </div>

        <hr class="h_line">

        <p style="text-align: center;color:wheat;">Bought content</p>

        <div class="slideshow">

            <img th:each="image : ${user.ownedItems}" th:src="${image.t.image_url}">
        </div>

    </div>

</form>
</body>

</html>