<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="/css/entertainment.css" rel="stylesheet" type="text/css" th:href="@{/css/entertainment.css}" />
</head>
<body>

<div>
    <h1>Profile</h1>
    <h3>User: <span th:text="${username}"></span></h3>

</div>


<form action="#" method="get" th:object="${users}"  th:action="@{/api/v1/videoteka/user/profile}" >

    <h3>User id :<span th:text="${users.id}"></span></h3>
    <h3>First name :<span th:text="${users.firstName}"></span></h3>
    <h3>Last name :<span th:text="${users.lastName}"></span></h3>
    <h3>Country :<span th:text="${users.country}"></span></h3>
    <h3>Email :<span th:text="${users.eMail}"></span></h3>

        <table class="table" th:if="${users.ownedItems != null and !users.ownedItems.empty}">
            <tr>ID</tr>
            <tr>Title</tr>
            <tr>Content</tr>

            <tr th:each="item: ${users.ownedItems}">
                <td th:text="${item.t.id}"></td>
                <td th:text="${item.t.name}"></td>
                <td th:text="${item.className}"></td>
            </tr>
        </table>

</form>

</body>
</html>