<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>index</title>
    <link href="/css/index.css" rel="stylesheet" type="text/css" th:href="@{/css/index.css}" />
    <link href="/css/navigationbar/navigation_bar.css" rel="stylesheet" type="text/css" th:href="@{/css/navigationbar/navigation_bar.css}" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


</head>
<body id="customBody">

<div class="navigation">

    <div class="username" >
        <h2 th:text="${username}"></h2>
    </div>


    <div class="links">
        <ul>
            <li><a th:href="@{/api/v1/videoteka/movies}">Movies</a></li>
            <li><a th:href="@{/api/v1/videoteka/series}">Series</a></li>
        </ul>
    </div>

    <div class="search_bar">
        <button type="submit"><i class="fa fa-search"></i></button>
        <input type="text" placeholder="Search">
    </div>

    <div class="drop_down_button">
        <button class="drop_button"></button>
        <div class="dropdown-content">
            <a th:if="${#strings.isEmpty(username) || username == 'anonymousUser'}" th:href="@{/api/v1/videoteka/login}">Login</a>
            <a th:if="${username != 'anonymousUser' || username == null}" th:href="@{/api/v1/videoteka/user/profile}">Profile</a>
            <a th:unless="${username != 'anonymousUser' || username != null}" th:href="@{/api/v1/videoteka/logout}">Logout</a>
        </div>
    </div>

</div>



<div class="main_div" th:each="element : ${temp}">
    <h2 style="text-align:center; color:whitesmoke;" th:text=" 'Top rated' + ' ' + ${#strings.toLowerCase(element.key)}">
    </h2>
    <div th:with="a=${element.key}" th:id="${a}" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="image_div">
                    <img src="https://cdn.pixabay.com/photo/2015/04/23/22/00/tree-736885__480.jpg" alt="First slide">
                </div>
            </div>

            <div class="carousel-item" th:each="pic : ${element.value}">
                <div class="image_div">
                    <a target="_blank" th:href="@{/api/v1/videoteka/{type}/{id}(type=${#strings.toLowerCase(element.key)},id=${pic.id})}">
                    <img th:src="${pic.image_url}" alt="Second slide">
                    </a>
                </div>
            </div>

        </div>
        <a class="carousel-control-prev" th:href="${'#'+a}" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" th:href="${'#'+a}" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
</div>


</body>
</html>
