<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>videoteka</title>
    <link href="/css/index.css" rel="stylesheet" type="text/css" th:href="@{/css/index.css}" />
    <link href="/css/navigationbar/navigation_bar.css" rel="stylesheet" type="text/css" th:href="@{/css/navigationbar/navigation_bar.css}" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>

</head>
<body id="customBody">

<div class="navigation_bar" style="height:61px;z-index:1">

    <div class="username">
        <h4 th:text="${username}"></h4>
    </div>
    <div class="list">
        <ul>
            <li><a th:href="@{/api/v1/videoteka/movies}">Movies</a></li>
            <li><a th:href="@{/api/v1/videoteka/series}">Series</a></li>
        </ul>
    </div>
    <div class="dropdown_list">
        <div class="dropdown_wrapper">
            <div class="dropdown">
                <button class="drop_button"><i class="fa fa-chevron-circle-down" aria-hidden="true"></i>
                </button>
                <div class="dropdown-content">
                    <a th:if="${#strings.isEmpty(username) || username == 'anonymousUser'}" th:href="@{/api/v1/videoteka/login}">Login</a>
                    <a th:if="${username != 'anonymousUser'}" th:href="@{/api/v1/videoteka/user/profile}">Profile</a>
                    <a th:unless="${username != 'anonymousUser' || !#strings.isEmpty(username)}" th:href="@{/api/v1/videoteka/logout}">Logout</a>
                </div>
            </div>
        </div>

    </div>
</div>

<div class="main_div" th:each="element : ${temp}">
    <h2 style="text-align:center; color:whitesmoke;" th:text=" 'Top rated' + ' ' + ${#strings.toLowerCase(element.key)}">
    </h2>
    <div th:with="a=${element.key}" th:id="${a}" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="image_div">
                    <img src="https://cdn.pixabay.com/photo/2015/04/23/22/00/tree-736885__480.jpg" alt="First slide">
                </div>
            </div>

            <div class="carousel-item" th:each="pic : ${element.value}">
                <div class="image_div">
                    <a target="_blank" th:href="@{/api/v1/videoteka/{type}/{id}(type=${#strings.toLowerCase(element.key)},id=${pic.id})}">
                    <img th:src="${pic.image_url}" alt="Second slide">
                    </a>
                </div>
            </div>

        </div>
        <a class="carousel-control-prev" th:href="${'#'+a}" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" th:href="${'#'+a}" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
</div>


</body>
</html>
