body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #191919 !important;
}

.maindiv{
    display: grid;
    justify-content: center;
}

.inpust{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.inputs form{
    justify-items: center;
    display: grid;
    border-color: #998f8f;
    border-style: solid;
    padding: 20px;
}

.genres{
    padding:0 20px;
    display:flex;
    justify-content:center;
    padding:0px 20px;
    margin:20px;
}

input{
    margin: 15px;
    display: block;
    padding: 5px;
    width: 300px;
}

.submit{
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

button{
    padding: 9px 25px;
    background-color: rgba(0, 136, 169, 1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0;
    margin-bottom: 20px;
}