#customBody{
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #191919;
}

.main_div{
    margin: 5% 25%;
}

img{
    width: 450px;
    height: 450px;
    margin: 40px 0px;
}

.image_div{
    display:grid;
    place-items:center;
}

