<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link href="/css/entertainment/single_page.css" rel="stylesheet" type="text/css" th:href="@{/css/entertainment/single_page.css}" />
    <link href="/css/navigationbar/navigation_bar.css" rel="stylesheet" type="text/css" th:href="@{/css/navigationbar/navigation_bar.css}" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>


<div class="navigation">

    <div class="username">
        <h2 th:text="${username}">
        </h2>
    </div>

    <div class="links">
        <ul>
            <li><a th:href="@{/api/v1/videoteka/movies}">Movies</a></li>
            <li><a th:href="@{/api/v1/videoteka/series}">Series</a></li>
        </ul>
    </div>

    <div class="search_bar">
        <button type="submit"><i class="fa fa-search"></i></button>
        <input type="text" placeholder="Search">
    </div>

    <div class="drop_down_button">
        <button class="drop_button"></button>
        <div class="dropdown-content">
            <a th:if="${#strings.isEmpty(username) || username == 'anonymousUser'}" th:href="@{/api/v1/videoteka/login}">Login</a>
            <a th:if="${username != 'anonymousUser' || username == null}" th:href="@{/api/v1/videoteka/user/profile}">Profile</a>
            <a th:unless="${username != 'anonymousUser' || username != null}" th:href="@{/api/v1/videoteka/logout}">Logout</a>
        </div>
    </div>

</div>


<h1 class="title" th:text="${content.name}"></h1>

<div>
    <div class="trailer">
        <iframe width="1110" height="624" th:src="${content.trailer}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <div class="trailer" th:if="${#strings.isEmpty(content.trailer)}">
            <p>The trailer does not exist in our db</p>
        </div>
    </div>
</div>
<div class="genres">
    <p th:each="genre : ${genres}" th:text="${genre.name}"></p>
</div>
<div class="description">
    <p th:text="${content.description}"></p>
</div>

<div class="other_info">

    <div class="content_image">
        <img th:src="${content.image_url}">
    </div>
    <div class="vertical_line"></div>
    <div class="info">
        <table>
            <tr>
                <th>Rating</th>
                <td th:text="${content.rating}"></td>
            </tr>
            <tr>
                <th>Length</th>
                <td th:text="${content.runtime}"></td>
            </tr>
            <tr>
                <th>Release</th>
                <td th:text="${content.release}"></td>
            </tr>
            <tr>
                <th>Content rating</th>
                <td th:text="${content.content_rating}"></td>
            </tr>
            <tr>
                <th>Price</th>
                <td th:text="${content.price}"></td>
            </tr>
        </table>
    </div>
    <div class="content_buttons">
        <div class="admin_buttons" th:if="${role} == 'ROLE_ADMIN'">
            <button>Edit</button>
            <button>Delete</button>
        </div>
        <div class="user_buttons" th:if="${role} == 'ROLE_USER'">
            <form action="#" th:action="@{/api/v1/videoteka/content/buy/{type}/{id}(type=${#strings.toLowerCase(title)},id=${content.id})}" method="post">
                <button type="submit">Buy</button>
            </form>
        </div>
    </div>
</div>

</body>
</html>