<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:form="http://www.w3.org/1999/html">
<html>
<head>
    <title>Movies</title>
    <link href="/css/gallery.css" rel="stylesheet" type="text/css" th:href="@{/css/gallery.css}" />
</head>

<body>
<h1 style="text-align:center">Movies</h1>

<div class="responsive">
    <div class="gallery" th:each="movie : ${movies}">
        <a target="_blank" th:href="@{/api/v1/videoteka/movies/{id}(id=${movie.id})}">
            <img th:src="${movie.imageUrl}" alt="Cinque Terre" width="600" height="400">
        </a>
        <div class="desc">Add a description of the image here</div>
    </div>
</div>



</body>


</html>